body {
  min-width: 300px;
  max-width: 920px;
  margin: 0 auto;
}

* {
  color: #434343;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
a {
  color: #da4518;
  text-decoration: none;
}
.container {
  padding: 15px;
}
